html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/bootstrapv4.min.css")
    link(href="https://unpkg.com/normalize.css@^4.1.1" rel="stylesheet")
    link(href="https://unpkg.com/@blueprintjs/core@^1.11.0/dist/blueprint.css" rel="stylesheet")
    link(href="/css/quill.snow.css" rel="stylesheet")
    link(href="/css/blueprint-datetime.css" rel="stylesheet")
    link(href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css" rel="stylesheet")

  body
    #root
  footer
    script(src='https://unpkg.com/tether@1.4.0')
    script(src='/client/vendor.js')
    script(src='/client/app.js')

