html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/css/blueprint.css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(href="/css/normalize-4.2.0.css" rel="stylesheet")
    link(href="/css/quill.snow.css" rel="stylesheet")
    //link(href="/css/blueprint-datetime.css" rel="stylesheet")
    link(href="/css/react-bootstrap-table-all.min.css" rel="stylesheet")

  body
    #root
  footer
    script(src='/lib/tether-1.4.0.js')
    script(src='/client/vendor.js')
    script(src='/client/app.js')

