
.attendee-payment-form {
  max-width: 50%;
  margin: 0 20px;
  .Select-menu-outer {
    z-index: 999999 !important;
    position: relative;
  }

  .Select.is-open {
    position: relative; z-index: 999999;
  }

  .pt-button {
    margin-top: 25px;
  }
}

.event-details-component {
  .row {
    margin-bottom: 22px;
    padding-bottom: 15px;
  }

  .main {
  }

  aside {
    .row {
      border-bottom: 1px solid #ddd;
    }

    h4 {
      font-size: 15px;
      line-height: 1.3rem;
      margin-bottom: 5px;
      &+ div {

      }
    }
  }
  .add-attendee-btn {
    position: relative;
    top: 0px;
  }
}


.atteendees-events-booking-container {
  .react-bs-table-tool-bar {
    div.col-xs-6.col-sm-6.col-md-6.col-lg-4 {
      display: initial;
    }
    .row {
      margin: 0;
    }
  }
}

table {
  font-size: 14px;
}

.attendee-booking-form {
  text-align: left;
}
