@import 'base';
// @import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  .pt-input {
    height: 36px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.rowWithFullWidth {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-bs-table, .react-bs-container-body {
  height: auto !important;
}

.react-bs-table table td {
  white-space: normal;
}

.react-bs-container-header.table-header-wrapper {
  select {
    height: 20px;
  }
}

.react-bs-table {
  border: 1px solid #3498db;
  border-radius: 5px;
  margin: 5px 0px;
}
